.inventario-list {
    text-align: center;
    padding: 20px;
    background-image: url('C:/Users/aroag/Desktop/Proyecto_Ipina/imagenes/edificio.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
}

.inventario-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    opacity: 0.5;
    z-index: -1;
}

.inventario-list h2 {
    z-index: 1;
    position: relative;
    font-family: 'Arial Black', sans-serif;
    color: rgb(247, 243, 243);
}

.tabla-inventario {
    z-index: 1;
    position: relative;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: rgba(167, 96, 96, 0.8);
    border-radius: 8px;
    overflow: hidden;
}

.tabla-inventario th,
.tabla-inventario td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-inventario th {
    background-color: #0c0c0c;
    color: white;
    text-transform: uppercase;
}

.tabla-inventario tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.tabla-inventario tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cantidad-verde {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}

.cantidad-amarillo {
    background-color: #fff3cd;
    color: #856404;
    font-weight: bold;
}

.cantidad-rojo-claro {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
}

.cantidad-rojo-oscuro {
    background-color: #f5c6cb;
    color: #721c24;
    font-weight: bold;
}

.acciones-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.crear-pedido-btn,
.recargar-btn {
    display: inline-block;
    width: 120px;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.crear-pedido-btn {
    background-color: #a52c2c;
}

.crear-pedido-btn:hover {
    background-color: #176613;
    transform: scale(1.05);
}

.recargar-btn {
    background-color: #711a57;
}

.recargar-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.tabla-inventario td {
    vertical-align: middle;
    text-align: center;
}

.tabla-inventario td button {
    margin: auto;
}